<html>
<head>
<style>
#outer
{
background:pink;
width:1200px;
height:600px;
margin:50px auto;
padding:10px;
box-sizing:border-box;
position: relative;
}
table
{
text-align:center;
margin-left:auto;
margin-right:auto;
}
h2
{

text-align:center;
}
p
{
position:absolute;
bottom: 0;
right: 0;
}


</style>
</head>
<body>
<div id="outer" >
<div class="form">
<form action="/" method="POST">
<table border="1" cellspacing="3px" cellpadding="5px;">
<h2>Rent for the month:<select name="month" required >
<option>January</option>
<option>February</option>
<option>March</option>
<option>April</option>
<option>May</option>
<option>June</option>
<option>July</option>
<option>August</option>
<option>September</option>
<option>October</option>
<option>November</option>
<option>December</option></select></h2>



<caption style="margin:10px;"><input type="text" class="txt" name="name" placeholder="Enter Name" required></caption>
<tr>
<th>Sl. No.</th><th>Particular</th><th>Previous Reading</th><th>Current Reading</th><th>Difference</th><th>Per Unit</th><th>Amount</th><th>Remarks</th>
</tr>
<tr>
<td>1</td><td>Electricity(MAIN)</td><td><input type="text" name="pre" class="pre" oninput="diff()" required></td><td><input type="text" name="cur" class="cur" oninput="diff()" required></td><td  class="r1diff" name="diff"></td><td>10</td><td class="r1amnt" name="am"></td><td><textarea name="rem"></textarea></td>
</tr>
<tr>
<td>2</td><td>Electricity(ROOM)</td><td><input type="text" name="pre2" class="pre2" oninput="diff2()" required></td><td><input type="text" name="cur2" class="cur2" oninput="diff2()" required></td><td  class="r2diff" name="diff2"></td><td>10</td><td class="r2amnt" name="am2"></td><td><textarea name="rem2"></textarea></td>
</tr>
<tr>
<td>3</td><td>Electricity(MAIN)</td><td><input type="text" name="pre3" class="pre3" oninput="diff3()" required></td><td><input type="text" name="cur3" class="cur3" oninput="diff3()" required></td><td  class="r3diff" name="diff3"></td><td>10</td><td class="r3amnt" name="am3"></td><td><textarea name="rem3"></textarea></td>
</tr>
<tr>
<td>4</td><td>RENT ADVANCE</td><td colspan="4"></td><td><input type="text" oninput="" class="r4amnt" name="am4" required></td><td><textarea></textarea></td>
</tr>
<tr>
<td colspan="6">TOTAL</td><td class="total">0</td><td>Check then pay</td>
</tr>
<tr>
<td colspan="6"></td><td><button type="button" class="totall" onclick="totalamount()" name="total">FIND TOTAL</button></td><td><button class="printing" onclick="printpage()" >PRINT BIL</button></td>
</tr>
</table>
</div>
<center><button type="submit"  title="Print before Save" onclick="warning()">SAVE</button> <button type="reset">RESET</button></center>

<!-- onmouseover="warning()" -->
</form>
<p id="date-time" >This text is in the bottom right corner.</p>
</div>
<script> 
var amm;
amm=0;
var l;
var l2;
var l3;
// function diff()
// {
// var pre=document.querySelector(".pre").value;
// var cur=document.querySelector(".cur").value;
// var r1diff=document.querySelector(".r1diff");
// var d=cur-pre;
// r1diff.innerHTML=d;
// amount(d);

// }
function diff()
{
var pre=document.querySelector(".pre").value;
var cur=document.querySelector(".cur").value;
var d=cur-pre;
document.querySelector(".r1diff").value=d;
var r1diff=document.querySelector(".r1diff");
r1diff.value=d;
r1diff.innerHTML=d;
amount(d);

}
function diff2()
{
var pre=document.querySelector(".pre2").value;
var cur=document.querySelector(".cur2").value;
var r2diff=document.querySelector(".r2diff");
var d=cur-pre;
r2diff.innerHTML=d;
amount2(d);

}
function diff3()
{
var pre=document.querySelector(".pre3").value;
var cur=document.querySelector(".cur3").value;
var r3diff=document.querySelector(".r3diff");
var d=cur-pre;
r3diff.innerHTML=d;
amount3(d);

}
function amount(a)
{
var am=10*a;
var r1amnt=document.querySelector(".r1amnt");
r1amnt.innerHTML=am;
// amm=parseInt(amm)+parseInt(am);
amm=amm+am;
l=am;
return am;
}

function amount2(a2)
{
var am=10*a2;
var r2amnt=document.querySelector(".r2amnt");
r2amnt.innerHTML=am;
// amm=parseInt(amm)+parseInt(am);
amm=amm+am;
l2=am;
return am;
}
function amount3(a3)
{
var am=10*a3;
var r3amnt=document.querySelector(".r3amnt");
r3amnt.innerHTML=am;
// amm=parseInt(amm)+parseInt(am);
amm=amm+am;
l3=am;
return am;
}
function totalamount()
{
var r4amnt=document.querySelector(".r4amnt").value;
var x=l+l2+l3+parseInt(r4amnt);
var total=document.querySelector(".total");
total.innerHTML=x;
}
function printpage()
{
    window.print();
}
function warning()
{
//     alert("Print before Saving")
       confirm("Have you printed the bill? || Click 'cancel' to go back if you haven't or 'ok' if you have")
}
// function save()
// {
// const r1diff=document.querySelector(".r1diff").value;
// }
function fordatetime()
{
var now= new Date();
var formatedDateTime= now.toLocaleString();
document.getElementById("date-time").innerText =formatedDateTime;
}
fordatetime();
setInterval(fordatetime,1000);
// function tabletocsv()
// {
//     let data=[];
//     // var name=document.getElementsByClassName('txt').value;
//     // var month=document.getElementsByName('month').value;
//     // data=['month',month,'name:',name,date]
//     let rows = document.getElementsByTagName('tr');
//     for(let i=1;i<rows.length ; i++)
//      {
//         let cols=rows[i].querySelectorAll('td,th');
//         let csv_row =[];
//         for(let j=1; j<cols.length;j++)
//          {
//             csv_row.push(cols[j].innerHTML);

//          }
//          data.push(csv_row(","));
//      }
//      data =data.join('\n');
// }

</script>
</body>
</html>
